@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');


@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}

.animate-zoom {
  animation: zoom 4s ease-out forwards;
}

